{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
    {% for post in posts %}
        <div class="row">
            <div class="col-md-2 col-sm-3 text-center">
                <a class="story-img" href="#">
                    <img src="{% static 'images/profile.jpg' %}" class="img-circle">
                </a>
                <p><span class="boldtext">Author:</span> {{ post.author }} </p>
            </div>
                        <div class="col-md-10 col-sm-9">
                <h3>{{ post.title }}</h3>
                            <div class="row">
                                <div class="col-xs-9" id="blogposts" style="max-width: 100%; word-wrap: break-word; width: 100%;">
                                            <p>{{ post.content | linebreaksbr }}</p>
                                            <p><a href="{% url 'post_detail' post.id %}"  class="btn btn-default">Read more</a></p>
                                            <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                                            <p><span class="boldtext">Views:</span> {{post.views}}</p>
                                            <p><span class="boldtext">Tag:</span> {{ post.tag }}</p>
                                            <p><span class="boldtext">Author:</span> {{ post.author }}</p>
                                            <p><span class="boldtext">Likes:</span> {{post.likes.all | length}}</p>
                                            
                                </div>
                            </div>
                        </div>>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
{% endblock %}